@import "tailwindcss";

@theme {
  --color-brand-primary: #6366f1;
  --color-brand-secondary: #38bdf8;
  --color-brand-accent: #10b981;

  --color-dark-background: #070a12;
}

* {
  font-family: "outfit", sans-serif;
}